body {
    background-color: grey;
}

canvas {
    background-color:white;
    display: block;
    margin: auto;
    position: relative;
    width:700px;
    height:700px;
    box-shadow: 10px 10px 10px  rgb(94, 94, 94);
}